<!-- Header -->
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 is-spaced has-text-centered	">
        {{ projecthading }}
      </h1>
    </div>
  </div>
</section>

<!-- First Grid -->
<section class="section">
  <div class="container">
    <div class="columns section-margin">
      <div>
        <h1 class="title">Introduction</h1>
        <h2 class="subtitle">
          {{ projectdate }}
        </h2>
        <p>
          {{ projectintroduction }}
        </p>
      </div>
      <div class="padding-1">
        <i class="fa fa-anchor"></i>
      </div>
    </div>
  </div>
</section>

<!-- Second Grid -->
<section class="section has-background-light">
  <div class="container">
    <div class="columns section-margin">
      <div class="padding-1">
        <i class="fa fa-coffee"></i>
      </div>
      <div>
        <h1 class="title">Lets get started</h1>
        <h2 class="subtitle is-6">
          {{ projectdescription }}
        </h2>
        <p>
          {{ projectdescription2 }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="section-margin">
      <h1>Links</h1>
      <p class="has-text-dark">{{ projectlink1 }}</p>
      <p class="has-text-dark">{{ projectlink2 }}</p>
      <p class="has-text-dark">{{ projectlink3 }}</p>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer">
  <div class="content has-text-centered">
    <strong>Mail at test@gmail.com</strong>
  </div>
</footer>
