<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.w3-bar,h1,button {font-family: "Roboto", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>



<!-- Header -->
<header class="w3-container w3-teal w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">{{projecthading}}</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Introduction</h1>
      <h5 class="w3-padding-32">{{projectdate}}</h5>

      <p class="w3-text-grey">{{projectintroduction}}</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-teal"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-teal w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Lets get started</h1>
      <h5 class="w3-padding-32">{{projectdescription}}</h5>

      <p class="w3-text-grey">{{projectdescription2}}</p>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Links</h1>
      <p class="w3-text-grey">{{projectlink1}}</p>
      <p class="w3-text-grey">{{projectlink2}}</p>
      <p class="w3-text-grey">{{projectlink3}}</p>
    </div>

    <div class="w3-third w3-center">

    </div>
  </div>
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
   <p>Mail at test@gmail.com</p>
</footer>


</body>
</html>


